@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import "tailwindcss";

body {
  font-family: "Oswald";
  background-color: black;
  overflow-x: hidden;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.cool {
  letter-spacing: -70px;
  /* font-family: "roboto"; */
  /* font-family: "roboto", sans-serif; */
}
